
<h1>Add Geocache Site!</h1>
<div id="main">
  <form>
    <div class="panel-body">
      <h3>Add GPS Coordinates</h3>
      <div class="form-group">
        <label for="lat">Enter a Latitude</label>
        <input name="lat" #lat>
      </div>

      <div class="form-group">
        <label for="lng">Enter a Longitude</label>
        <input name="lng" #lng>
      </div>

      <button (click)="getPhysicalAddress(lat.value, lng.value)">Get Physical Address</button>
    </div>
  </form>

  <h2>OR</h2>
  <form>
    <div class="panel-body">
      <h3>Add With a Physical Address</h3>
      <div class="form-group">
         <label for="streetAddress">Street Adress</label>
         <input #address>
       </div>
     <div class="form-group">
       <label for="city">City</label>
       <input #city>
     </div>
     <div class="form-group">
       <label>State</label>
       <input #state>
     </div>
     <button (click)="getCoordinates(address.value, city.value, state.value)">Get GPS Coordinates</button>
   </div>
  </form>
</div>

<a id="main-link" routerLink="items">View Listed Geocaches!</a>


<div *ngIf="locations">
<app-address-list [childLocations]="locations"></app-address-list>
</div>
