<h1>Find Geocache Site!</h1>

<form>
  <h2>Add Your Name</h2>

    <div class="form-group">
      <label for="creator">Enter a Name</label>
      <input name="creator" #creator>
    </div>

  <h2>Add GPS Coordinates</h2>
  <div class="form-group">
    <label for="lat">Enter a Latitude</label>
    <input name="lat" #lat>
  </div>

  <div class="form-group">
    <label for="lng">Enter a Longitude</label>
    <input name="lng" #lng>
  </div>

  <button (click)="getPhysicalAddress(lat.value, lng.value, creator.value)">Get Physical Address</button>
  <!-- <button (click)="saveAddress(lat.value, lng.value, creator.value)">Save Physical Address</button> -->
</form>




<app-address-list [childGetAddress]="getAddress" [childGetCoordinates]="getCoordinates"></app-address-list>
