<h2>Save Your Geocache!</h2>
<h3>Enter Your Name</h3>
<input #creator>
<h3>Street Address: {{childLocations.results[0].formatted_address}}</h3>
<h3>GPS Coordinates: Latitude: {{childLocations.results[0].geometry.location.lat}} | Longitude: {{childLocations.results[0].geometry.location.lng}}</h3>
<button (click)="saveGeocache(creator.value, childLocations.results[0].formatted_address, childLocations.results[0].geometry.location.lat, childLocations.results[0].geometry.location.lng)">Save Geoache</button>
